
<!-- four boxes. each box asts as a link , when hover changes the color
and pops out a little, a diamond or round box with my profile photo,,
and name -->

  <div class = "flex_container">
    <!-- HOME BOX -->
       <div class = "flex_child">
            <ul>
               <li>
                   <a href="<%= root_path 'pages/home'%>">
                     <h2>Home</h2>
                     <p class = "line-height-none">Hi, my name is Bandita Sharma. I am an aspiring full stack web developer from Sydney.</p>
                   </a>
                </li>
           </ul>
      </div>

      <!-- ABOUT -->
      <div class = "flex_child blue-note">
           <ul>
              <li>
                  <a href="pages/about/#about">
                    <h2>About</h2>
                    <p class = "line-height-none">I am a student of Coder Factory Academy. My current stacks are HTML, CSS, Javascript, Ruby and Rails.</p>
                  </a>
               </li>
          </ul>

    </div>
    <!-- WORK -->
    <div class = "flex_child  red-note">
         <ul>
          <li>
              <a href="pages/about/#work">
                 <h2>Work</h2>
                 <p class = "line-height-none">Take a look inside for my awesome work. Click for viewing my creation.</p>
              </a>
            </li>
       </ul>
 </div>
          <!-- CONTACT -->
     <div class = "flex_child green-note">
               <ul>
                 <li>
                     <a href="pages/about#contact">
                       <h2>Contact</h2>
                       <p class = "line-height-none">Want to hire me Now? Or get in touch. My email is fpbandita@gmail.com. Click for more info. </p>
                     </a>
                  </li>
            </ul>
      </div>

</div>
