/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 * require devise_bootstrap_views
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel|Ruthie');
@import url('https://fonts.googleapis.com/css?family=Enriqueta');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');

// * {
//   border: 1px solid red !important;
// }
$primary-color :  #FFCC4F;
$background-grey: #2E2E2E;
$background-mediumgrey: #2B2B2B;
$background-black: #1D1F21;
$background-white: white;
$background-darkred: #e80a12;
$background-red:#F7484E;
$secondary-color: #FACC5B;
$background-lightgrey: #F5F5F5;
$background-teal: #16786A;
$background-powder: #66B9BF;
$background-tangerine:  #e37222 ;
$background-darktan: #c57d00 ;
$background-tan: #EEAA7B;
$background-yellow: #FFCC00;
$background-darkyellow: #f2be00;

$text-white: white;
$text-tangerine:  #e37222 ;
$text-red:  #F7484E;
$text-grey: #a3a3a3;
$text-black: black;
$text-yellow: #F6BC23;

$font-headlines: 'Roboto', sans-serif;
$font-nav: 'Proxima Nova Regular', serif;
$font-cursive: 'Ruthie', cursive;
$font-text: 'Enriqueta', serif;
$font-serif: "serif";
$font-special: "'Varela Round', sans-serif";

$fontSize-s : 12px;
$fontSize-m : 14px;
$fontSize-l : 16px;
$fontSize-xxl : 30px;

$font-bold: bold;
$font-thin: 300;

$lineHeight-oneline: 1;
$lineHeight-s: 1.8;
$lineHeight-m: 1.75;
$lineHeight-l: 1.6;

.red-text {
  color: $text-red;
}

.white-text {
  color: $text-white;
}

.grey-text {
     color: $text-grey;
}
.black-text {
     color: $text-black;
}

.yellow-text {
     color: $text-yellow;
}

// .black-text-nav {
//      color: $text-black;
//      opacity: 0.1%;
// }
.upcased {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
  font-family: $font-text;
  font-size: $fontSize-m;
}
.text-big {
  font-size: 75px;
}

.centered {
  text-align: center;
}

.font-special {
font-family: $font-special;
}

.font-list-menu {
     font-family: $font-headlines;
     font-size: $fontSize-m;
}

.gradient {
     background: linear-gradient($background-grey, $background-yellow);
}
.cursive-font {
  font-family: $font-cursive;
}

body {
  height: 100%;
  font-family: $font-text;
  line-height: $lineHeight-m;
  margin: 0 auto;
  padding: 0;
  background-color: $background-grey;
}

.line-height-none {
     line-height: normal;
}

section {
      width: 100%;
      padding: 0 7%;
      display: block;
      margin: 0;
      max-width: none;
      height: 100vh;
}
.head-nav {
    width: 100%;
}
.navigation {
     padding-top: 15%;
     padding-bottom: 0;
}
          .navigation ul {
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
          }

          .navigation li {
          	float: none;
            padding: 1.5%;
          }

                    .navigation .menu-red a{
                         color: $text-red;
                         font-family: $font-nav;
                         font-size: $fontSize-s;
                         font-weight: 600;
                    	text-align: center;
                    	text-decoration: none;
                         justify-content: space-between;
                         align-items: center;
                    }

                    .navigation .menu-red a:hover {
                         border-bottom: 2px solid white;
                    }

                    .navigation .menu-black a{
                         color: $text-black;
                         font-family: $font-nav;
                         font-size: $fontSize-s;
                         font-weight: 600;
                    	 text-align: center;
                    	 text-decoration: none;
                         justify-content: space-between;
                         align-items: center;
                         padding: 5px;
                    }
// fixlater
                    .navigation .menu-black a:hover {
                         border-bottom: 2px solid white;
                    }

section:nth-child(1) {
  // background: $background-grey;
  // background-image: url("<%= asset_path 'mandala-1778395_640.png'%>");
 background: $background-grey;
 background-image: url('http://res.cloudinary.com/dihqhbf9i/image/upload/c_scale,w_480/v1489304130/mandala-1778395_640_muthsb.png');
 background-position: center;
 background-repeat: no-repeat;
}

section:nth-child(2) {
  // background: $background-grey;
}
section:nth-child(3) {
  background: purple;
}
section:nth-child(4) {
  background: red;
}
section:nth-child(5) {
  background: yellow;
}
.top-header {
  padding: 1.5%;
}

.text-header {
  text-align: center;
  font-family: $font-nav;
  font-weight: 700;
  font-style: normal;
}
.title-align {
     padding-top: 10%;
}
.logo-wrapper {
  // background: black;
  display: flex;
  flex-wrap: wrap;;
  margin-top: 5%;
  width: 100%;
  height: auto;
  margin: 5% 0 0 0;
  justify-content: flex-start;
}

.logo-display {
  margin: 4%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;;
  align-items: center;
  font-size: 70px;
}

// .split-container {
//        display: flex;
//        height: 100vh;
//        width: 100%;
//        margin: 0;
//     //    align-items: flex-start;
// }
//
// .split-item {
//   justify-content: center;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//
//   width: 50%;
//   padding: 5% 5% 5% 5%;
// }
//
// .split-right {
//   order: -1;
//   height: 100vh;
// }
//
// .split-left {
//  height: auto;
//  overflow-y: scroll;
// }

.split-right {
    position: absolute;
    height: 100vh;
    width: 50%;
    left: 0;
}

.split-left {
    position: absolute;
    height: 100vh;
    width: 50%;
    left: 50%;
    overflow-y: scroll;
}
.about-right  {
     background: $background-yellow;
     color: #fff;
     padding-top: 15%;
}

.about-left {
     color: $text-black ;
     background: $background-white;
}

.description-container {
     height: 100%;
     width: 100%;
     margin-top: 2.5%;
     padding: 3%;
}
.col-sm-12{
     padding: 2% 5% 2% 5%;
     height: auto;
}

.handy-margin {
     margin-top: 5%;
}

.flex-circle-container {
     display: flex;
     flex-wrap: wrap;
     margin-top: 7%;
     justify-content: center;
     align-items: center;
}

.flex-circle {
     width: 100px;
     height: 100px;
     border-radius: 80px;
     background-color: $background-grey;
     opacity: 0.7;

     margin: 5%;
     justify-content: space-around;
     // align-items: center;
}

.glyphicon {
     color: $text-white;
     font-size: 30px;
     padding: 25% 35% 0 35%;
}

.glyphicon-text {
     color: $text-white;
     text-align: center;
}
.work-right {
background-color: $background-white;
color: $text-black;
padding-top: 15%;
}
.work-left {
background-color: $background-grey;
color: $text-white
}

.work-content {
     padding-top: 40%;
}
.col-lg-10  {
    width: 300px;
    height: 300px;
}
    .col-lg-10 img {
        box-shadow: 7px 7px 5px #888888;
    }

.contact-right {
     background-color: $background-red;
     color: white;
     padding-top: 15%;
}

.contact-left {
     background-color: white;
     color: $text-black;
     overflow: hidden;
}

.contact-content {
     overflow: hidden;
     margin-top: 5%;
}

.middle-align {
     margin-top: 30%;
     margin-left: 20%;
}
.social-media-icon a{
     padding: 5%;
}


#footer {
     background: $background-grey;
}

// @media only screen and (max-width: 900px){
//      span {
//           display: none;
//      }
//      .title-align {
//           padding-top: 18%;
//      }
//      .navigation {
//           padding-top: 13%;
//           padding-bottom: 0%;
//           margin-bottom: 0;
//      }
//
// .first-column {
//      padding-top: 12%;
// }
//
// .work-content {
//      padding-top: 60%;
// }
//
// .contact-content {
//      padding-top: 35%;
// }
// }
//
//
@media (max-width: 480px) {
     span {
          display: none;
     }
     .top-header {
         margin-top: 5%;
     }
     .title-align {
          margin-top: 50%;
     }
     .text-big {
         font-size: 4em;
     }
     .navigation {
         margin-top: 50%;
     }

     .split-right{
         position: absolute;
         display: block;
         width: 100%;
     }

     .split-left{
         margin-top: 100vh;
         position: absolute;
         display: block;
         width: 100%;
         left: 0;
     }
      .about-right {
          height: 100vh;
          padding-top: 70%;
     }
     .about-left {
         height: 200%;
         overflow: auto;
     }
     .work-right {
         height: 100vh;
         margin-top: 330%;
         padding-top: 30%;
    }
    .work-left {
        margin-top: 400%;
        height: 100%;
        overflow: visible;
    }

    .contact-right {
        margin-top: 500%;
        height: 100vh;
        padding-top: 35%;
   }
   .contact-left {
       margin-top: 600%;
        height: 50%;
       overflow: visible;
   }
     .font-list-menu {
          padding-left:1%;
     }

     .first-column {
          margin-top: 3%;
     }

     .col-sm-12 {
          padding-left: 10%;
     }
// to do hobby circle padding
     .handy-margin {
          margin: 0;
     }
     .middle-align {
          margin-top: 0%;
          margin-left: 0%;
     }
     .contact-content {
          padding-top: 15%;
     }
}
